.signup-container {
    width: 100%;
    background-color: #fff;
    font-family: 'Mukta', sans-serif;
    height: auto;
    max-height: 100vh;
}

.signup-container .logo-box {
    width: 90%;
    margin: 2rem auto;
}

.logo-box  a {
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #03ae9e;
}

.signup-form-container {
    width: 40%;
    margin: 4rem auto;
}

.signup-form-heading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.signup-form-container .signup-form {
    width: 100%;
}

.signup-form input {
      width: 100%;
      padding: 14px 20px;
      border: 1px solid #000;
      border-radius: 8px;
}

::placeholder {
    font-weight: 200;
}

.signup-form .form-group .signup-form-btn {
    border: 1px solid #03ae9e;
    background-color: #03ae9e;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.forgot-password-and-signup-links-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
.forgot-password-and-signup-links-div a {
    color: #686868;
}

.terms-and-conditions-links {
    text-align: center;
}
@media only screen and (min-width: 280px) and (max-width: 900px) {
.signup-form-container {
    width: 90%;
}

.third-party-signin-options-container {
    width: 90%;
    margin: 0 auto;
}

.third-party-signin-options-container .row {
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
    left: .2rem;
}

.third-party-signin-options-container .row .third-party-signin-item {
    width: 100%;
  margin-bottom: 1rem;
}


.third-party-signin-item  p {
  width: 70%;
  justify-self: flex-start;
}
.signup-page-link {
  display: block;
  width: 90%;
  margin: 0 auto;
}

}