<footer>
   
    <div class="footer-inner">
      <ul>
        <p>Products</p>
        <li><a href="">Messaging</a></li>
        <li><a href="">Voice &amp; Video</a></li>
        <li><a href="">Connected Devices</a></li>
        <li><a href="">Authentication</a></li>
      </ul>
  
      <ul>
        <p>Docs</p>
        <li><a href="">Quickstarts</a></li>
        <li><a href="">Tutorials</a></li>
        <li><a href="">API Reference</a></li>
        <li><a href="">Helper Libraries</a></li>
        <li><a href="">API Status</a></li>
      </ul>
  
      <ul>
        <p>Solutions</p>
        <li><a href="">Account Security</a></li>
        <li><a href="">Text Marketing</a></li>
        <li><a href="">Collaboration</a></li>
        <li><a href="">Commerce Communications</a></li>
        <li><a href="">Contact Center</a></li>
      </ul>
  
      <ul>
        <p>Company</p>
        <li><a href="">About Seven Chatbot</a></li>
        <li><a href="">What is Seven Chatbot?</a></li>
        <li><a href="">Customers</a></li>
        <li><a href="">Get Help</a></li>
        <li><a href="">Talk to an expert</a></li>
        <li><a href="">Public Policy</a></li>
      </ul>
    </div>
    <div class="copyrights-and-privacy-policy-container">
      <p>
        <a href="">Terms &amp; Conditions</a> | <a href="">Privacy Policy</a> |
        <a href="">NEWS</a>
      </p>
      <p>COPYRIGHT © 2021 <a href="">Seven GPS</a>. ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
  
  