<section class="login-container">
    <div class="logo-box">
      <p class="logo"><a routerLink="/">Seven Labs</a></p>
    </div>
    <div class="login-form-container">
      <p class="login-form-heading">Login to your account</p>
      <form action="" class="login-form">
        <div class="form-group">
          <input class="mt-5 pb-5" type="email" placeholder="Type your email" />
        </div>
        <div class="form-group">
          <input class="mt-5 pb-5" type="password" placeholder="Type your password" />
        </div>
        <div class="form-group">
          <input  type="submit" class="login-form-btn mt-5 pb-5" value="Login" />
        </div>
        <div class="forgot-password-and-signup-links-div mt-5">
          <p><a href="#">Forgot password?</a></p>
          <p><a routerLink="/register">Register</a></p>
        </div>
      </form>
    </div>
    <div class="third-party-signin-options-container mt-5">
      <div class="row">
        <div class="third-party-signin-item">
          <img src="../../assets/images/google-icon.svg" alt="" />
          <p><a href="">Sigin with Google</a></p>
        </div>
        <div class="third-party-signin-item">
          <img src="../../assets/images/microsoft.png" alt="" />
          <p>
            <a href=""> Sign in with Microsoft </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="third-party-signin-item">
          <img src="../../assets/images/facebook.svg" alt="" />
          <p><a href="">Sign in with Facebook</a></p>
        </div>
  
        <div class="third-party-signin-item">
          <img src="../../assets/images/twitter.png" alt="" />
          <p>
            <a href="">Sign in with Twitter</a>
          </p>
        </div>
      </div>
    </div>
    <p class="signup-page-link">
      Don't have an account?<a routerLink="/register"> Register</a>
    </p>
  </section>
  