<!--Hero-->
<section id="hero" class="hero is-medium pt-3">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Seven Engine Labs <br />
            The best place to build, test, and discover code.
          </h1>
          <p class="has-text-centered-mobile">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida
          </p>
          <hr class="rounded" />
          <div class="is-divider" data-content="   "></div>

          <p class="subtitle is-3" style="margin-top: 20px">What we offer</p>
          <p class="has-text-centered-mobile">
            <i
              class="fa fa-check"
              aria-hidden="true"
              style="color: #72ddf7"
            ></i>
            Lorem ipsum dolor sit amet
          </p>
          <p class="has-text-centered-mobile">
            <i
              class="fa fa-check"
              aria-hidden="true"
              style="color: #72ddf7"
            ></i>
            Augue mauris augue neque gravida in
          </p>
          <p class="has-text-centered-mobile">
            <i
              class="fa fa-check"
              aria-hidden="true"
              style="color: #72ddf7"
            ></i>
            Faucibus pulvinar elementum integer
          </p>
          <p class="has-text-centered-mobile">
            <i
              class="fa fa-check"
              aria-hidden="true"
              style="color: #72ddf7"
            ></i>
            Faucibus purus in massa tempor nec
          </p>
          <p class="has-text-centered-mobile">
            <i
              class="fa fa-check"
              aria-hidden="true"
              style="color: #72ddf7"
            ></i>
            Ante metus dictum at tempor commodo
          </p>
          <button
            id="learnbtn"
            type="button"
            class="button is-size-6 is-rounded button is-primary"
            style="margin-top: 15px"
          >
            Learn more
          </button>
        </div>

        <div class="column">
          <img src="../../assets/images/emogi.jpg" />
        </div>
      </div>
      <p class="">
        <a href="" class="talk-to-sales-link">Talk to Sales</a>
      </p>
    </div>
  </div>
</section>

<!-- section2  -->
<hr />

<section class="section section2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title">"Build & Test"</h2>
            <h3 class="subtitle">Programmer</h3>
            <p>
              Get work done quicker by building out entire projects or isolating
              code to test features and animations. Want to keep it all under
              wraps? Upgrade to a PRO account to keep your work private
            </p>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <a href="#" class="button is-success">
                <i class="fa fa-thumbs-o-up"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <!-- these will automatically resize just like columns -->
              <a href="#" class="button is-danger">
                <i class="fa fa-thumbs-o-down"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <a href="#" class="button is-info">
                <i class="fa fa-retweet"></i>
              </a>
            </span>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title">"Learn & Discover"</h2>
            <h3 class="subtitle">Programmer</h3>
            <p>Just starting out? Browsing, forking, and playing with Pens is a great way to understand how they were built and how code works. Teaching a class? Professor mode lets your students to see and comment on real-time Pen updates.</p>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <a href="#" class="button is-success">
                <i class="fa fa-thumbs-o-up"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <a href="#" class="button is-danger">
                <i class="fa fa-thumbs-o-down"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <a href="#" class="button is-info">
                <i class="fa fa-retweet"></i>
              </a>
            </span>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title">"Share Your Work"</h2>
            <h3 class="subtitle">Programmer</h3>
            <p>Become a part of the most active front-end community in the world by sharing work. Presenting at a conference? Show your code directly in the browser with Presentation Mode.</p>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <a href="#" class="button is-success">
                <i class="fa fa-thumbs-o-up"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <a href="#" class="button is-danger">
                <i class="fa fa-thumbs-o-down"></i>
              </a>
            </span>
            <span class="card-footer-item">
              <a href="#" class="button is-info">
                <i class="fa fa-retweet"></i>
              </a>
            </span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
