<div class="hero-head pt-5">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="../../assets/images/emogi.jpg" width="30" height="30" />
                </a>
                <a class="navbar-item">
                    <h3 class="logo has-text-green is-size-4">Seven Labs</h3>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="a-menu is-size-6 navbar-item"> home </a>
                    <a class="a-menu is-size-6 navbar-item"> about </a>
                    <a class="a-menu is-size-6 navbar-item"> features </a>
                    <a class="a-menu is-size-6 navbar-item"> contact </a>
                    <a class="a-menu is-size-6 navbar-item"> contact </a>
                    <div class="buttons loginBlock">
                        <a [routerLink]="['/login']" class="a-menu is-size-6 navbar-item button loginButton">Login
              <i class="fa fa-sign-in ico" aria-hidden="true"></i>
            </a>
                        <a [routerLink]="['/signup']" class="a-menu is-size-6 navbar-item button is-primary">Signup</a
            >
          </div>
        </div>
      </div>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
  </nav>
</div>